spice2hbl/y.output
spice2hbl/y.tab.h
spice2hbl/obj/shpars.c

*.o
*.a
hbl
s2h
hbl.exe
s2h.exe
*.log

spice2hbl/y.tab.h
spice2hbl/obj/shpars.c


*.bak
chanes/SPAGged
chanes/*.log
chanes/*.mod
chanes/*.f90
chanes/*.out
chanes/*.htm
chanes/_pf_data
*.fig
*.pf
_gxchk.htm
gxchk.out
_pf_data

fpt
chanes/fpt_output

*.hbl
*.chan
*.elems
*.nodes

hbfree_exmpls/test_ext
hbfree_exmpls/.spiceinit
hbfree_exmpls/*.raw
hbfree_exmpls/*.sp
hbfree_exmpls/s2h.cfg
hbfree_exmpls/hbfree
hbfree_exmpls/mes1.*
